# Sqoop configuration for CM_VERSION import.

# Username parameter and value.
--username
ocdhaxhr
--password
Mq7f9084468-2fb7-4e44-aea4-ade676fb7a17

# Connect parameter and value.
--connect
jdbc:mysql://ip-172-31-52-190.ec2.internal:3306/scm_7b3ruecikccjh8ggsq54nv3ftu
--table
CM_VERSION
--columns
VERSION,HOSTNAME

# Output format and destination.
--fields-terminated-by
'|'
--target-dir
/user/dobeslao/sqoop/input

# Job load
-m
1
