# Sqoop configuration for LOAD balanced import.

#####SQOOP
# Username parameter and value.
--username
root
--password
password

# Connect parameter and value.
--connect
jdbc:mysql://ip-172-31-52-190.ec2.internal:3306/sqoop_test

# Output format and destination.
--fields-terminated-by
'|'
--target-dir
/user/dobeslao/sqoop/input
--split-by 
id
-m
5 
-e 
"select id from sqoop_export_dobeslao where id>=0 AND id<=1000 AND $CONDITIONS"
