###############################
##   AGENT  "SMITH v1.0"
###############################

# Name the components on this agent
###############################
smith.sources = exec-source
smith.channels = logger-channel
smith.sinks = hdfssink-alpha

# Define / Configure Source (multiport seems to support newer "stuff")
###############################
# Exec Source
smith.sources.exec-source.type = exec
smith.sources.exec-source.channels = logger-channel
smith.sources.exec-source.shell = /bin/bash -c
smith.sources.exec-source.command = /home/dobeslao/flume/catdata.sh

# Channels
###############################
smith.channels.logger-channel.type = memory
smith.channels.logger-channel.capacity = 20000
smith.channels.logger-channel.transactionCapacity = 1000

# (Aplha) HDFS File Sink
###############################
smith.sinks.hdfssink-alpha.channel = logger-channel
smith.sinks.hdfssink-alpha.type = hdfs
smith.sinks.hdfssink-alpha.hdfs.callTimeout = 180000
smith.sinks.hdfssink-alpha.hdfs.fileType = DataStream
smith.sinks.hdfssink-alpha.hdfs.filePrefix = centinel
smith.sinks.hdfssink-alpha.hdfs.fileSuffix = .txt
smith.sinks.hdfssink-alpha.hdfs.inUseSuffix = .tmp.alpha
smith.sinks.hdfssink-alpha.hdfs.useLocalTimeStamp = true
smith.sinks.hdfssink-alpha.hdfs.path = hdfs:///user/dobeslao/input/%Y%m%d%H%M
smith.sinks.hdfssink-alpha.hdfs.writeFormat = Text
smith.sinks.hdfssink-alpha.hdfs.batchSize = 1000
# File size to trigger roll, in bytes (256Mb)
smith.sinks.hdfssink-alpha.hdfs.rollSize = 0
# Number of seconds to wait before rolling current file (in seconds)
# Wait for N min
smith.sinks.hdfssink-alpha.hdfs.rollInterval = 0
# Number of rows to trigger roll
smith.sinks.hdfssink-alpha.hdfs.rollCount = 40

###############################
## END   AGENT  "SMITH v1.0"
###############################
