###############################
##   AGENT  "JACKSON v1.0"
###############################

# Name the components on this agent
###############################
jackson.sources = exec-source
jackson.channels = logger-channel
jackson.sinks = avrosink-alpha

# Define / Configure Source (multiport seems to support newer "stuff")
###############################
# Exec Source
jackson.sources.exec-source.type = exec
jackson.sources.exec-source.channels = logger-channel
jackson.sources.exec-source.shell = /bin/bash -c
jackson.sources.exec-source.command = /home/dobeslao/flume/catdata.sh

# Channels
###############################
jackson.channels.logger-channel.type = memory
# jackson.channels.logger-channel.type = file
jackson.channels.logger-channel.capacity = 20000
jackson.channels.logger-channel.transactionCapacity = 1000
# jackson.channels.logger-channel.checkpointInterval = 3000

# (Alpha) AVRO File Sink
###############################
jackson.sinks.avrosink-alpha.channel = logger-channel
jackson.sinks.avrosink-alpha.type = avro
jackson.sinks.avrosink-alpha.hostname = ip-172-31-50-30.ec2.internal
jackson.sinks.avrosink-alpha.port = 41415

###############################
## END   AGENT  "JACKSON v1.0"
###############################
