###############################
##   AGENT  "JACKSON v1.0"
###############################

# Name the components on this agent
###############################
jackson.sources = exec-source
jackson.channels = logger-channel1 logger-channel2
jackson.sinks = hdfssink-alpha kafkasink-beta

# Define / Configure Source (multiport seems to support newer "stuff")
###############################
# Exec Source
jackson.sources.exec-source.type = exec
jackson.sources.exec-source.channels = logger-channel1 logger-channel2
jackson.sources.exec-source.shell = /bin/bash -c
jackson.sources.exec-source.command = /home/dobeslao/flume/catdata.sh

# Channels
###############################
jackson.channels.logger-channel1.type = memory
# jackson.channels.logger-channel1.type = file
jackson.channels.logger-channel1.capacity = 20000
jackson.channels.logger-channel1.transactionCapacity = 1000
# jackson.channels.logger-channel1.checkpointInterval = 3000

jackson.channels.logger-channel2.type = memory
# jackson.channels.logger-channel2.type = file
jackson.channels.logger-channel2.capacity = 20000
jackson.channels.logger-channel2.transactionCapacity = 1000
# jackson.channels.logger-channel2.checkpointInterval = 3000

# (Alpha) HDFS File Sink
###############################
jackson.sinks.hdfssink-alpha.channel = logger-channel1
jackson.sinks.hdfssink-alpha.type = hdfs
jackson.sinks.hdfssink-alpha.hdfs.callTimeout = 180000
jackson.sinks.hdfssink-alpha.hdfs.fileType = DataStream
jackson.sinks.hdfssink-alpha.hdfs.filePrefix = centinel
jackson.sinks.hdfssink-alpha.hdfs.fileSuffix = .txt
jackson.sinks.hdfssink-alpha.hdfs.inUseSuffix = .tmp.alpha
jackson.sinks.hdfssink-alpha.hdfs.useLocalTimeStamp = true
jackson.sinks.hdfssink-alpha.hdfs.path = hdfs:///user/dobeslao/input/%Y%m%d%H%M
jackson.sinks.hdfssink-alpha.hdfs.writeFormat = Text
jackson.sinks.hdfssink-alpha.hdfs.batchSize = 1000
# File size to trigger roll, in bytes (256Mb)
jackson.sinks.hdfssink-alpha.hdfs.   = 100
# Number of seconds to wait before rolling current file (in seconds)
# Wait for N min
jackson.sinks.hdfssink-alpha.hdfs.rollInterval = 5
# Number of rows to trigger roll
jackson.sinks.hdfssink-alpha.hdfs.rollCount = 0

# (Beta) HDFS File Sink
###############################
jackson.sinks.kafkasink-beta.type = org.apache.flume.sink.kafka.KafkaSink
jackson.sinks.kafkasink-beta.topic = kafka-topic
jackson.sinks.kafkasink-beta.brokerList = localhost:9092
jackson.sinks.kafkasink-beta.channel = logger-channel2
jackson.sinks.kafkasink-beta.batchSize = 20

###############################
## END   AGENT  "JACKSON v1.0"
###############################
